@mixin center {
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}

@mixin container($bg) {
	background: $bg;

	display: flex;
	flex-wrap: wrap;
	border-top: 1px solid black;
	border-bottom: 1px solid black;
	margin-top: 8px;
	margin-bottom: 8px;
}

@mixin item($bg, $color) {
	background: $bg;
	color: $color;

	border: 1px solid black;
	border-radius: 2px;
	text-align: center;
}

body {
	font-family: "Lucida Console", Monaco, monospace;
	background: #ebebe0;
}

div {
	cursor: default;
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

#all-chords-container, #allowed-chords-container, #chosen-chords-container, #allowed-keys-container, #allowed-notes-container, #chosen-notes-container {
	@include container(white);
}

#chosen-chords-container {
	flex-wrap: nowrap;
	height: 72px;
}

#chosen-notes-container {
	height: 50px;
}


.all-chords, .allowed-chords, .allowed-notes {
	@include item(navy, white);

	font-size: 1.4em;
	float: left;
	margin: 5px;
	padding: 3px;
}

.chosen-chords {
	color: white;
	border: 1px solid black;
	text-align: center;
	font-family: 'Trebuchet MS', Helvetica, sans-serif;
	font-size: 2.8em;
	float: left;
	height: 64px;
	width: 25%;
	padding-top: 7px;
	overflow: hidden;
}

.allowed-notes {
	width: 50px;
}

.chosen-notes {
	color: white;
	text-align: center;
	padding-top: 11px ;
	float: left;
	width: 30px;
	font-size: 1.4em;
	position: absolute;
	height: 39px;
}

.keys {
	@include item(white, black);

	font-size: 2em;
	float: left;
	margin: 7px;
	padding: 5px;
}

.play-button-container {
	@include center;
}

.play-button {
	@include item(black, white);
	font-size: 3em;
	padding: 5px;
	margin: 9px;
}

.play-button-options {
	@include item(black, white);
	font-size: 1.3em;
	padding: 5px;
	margin: 9px;
}

.amaj, .a{
	background: #006600;
}
.amin {
	background: #339933;
}
.bmaj, .b {
	background: #003366;
}
.bmin {
	background: #336699;
}
.cmaj, .c {
	background: #cc0000;
}
.cmin {
	background: #ff5050;
}
.dmaj, .d {
	background: #cc3300;
}
.dmin {
	background: #ff9900;
}
.emaj, .e {
	background: #0033cc;
}
.emin {
	background: #0066ff;
}
.fmaj, .f {
	background: #800000;
}
.fmin {
	background: #993333;
}
.gmaj, .g {
	background: #660066;
}
.gmin {
	background: #9900cc;
}