@mixin center {
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}

@mixin container($bg) {
	background: $bg;

	display: flex;
	flex-wrap: wrap;
	border-top: 1px solid black;
	border-bottom: 1px solid black;
	margin-top: 8px;
	margin-bottom: 8px;
}

@mixin item($bg, $color) {
	background: $bg;
	color: $color;

	border: 1px solid black;
	border-radius: 2px;
	text-align: center;
}

body {
	font-family: "Lucida Console", Monaco, monospace;
	background: #ebebe0;
}

div {
	cursor: default;
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

#all-chords-container, #allowed-chords-container, #chosen-chords-container, #allowed-keys-container, #allowed-notes-container, #chosen-notes-container {
	@include container(white);
}

#chosen-chords-container {
	flex-wrap: nowrap;
	height: 72px;
}

#chosen-notes-container {
	height: 50px;
	position: relative;
}

.all-chords, .allowed-chords, .allowed-notes {
	@include item(navy, white);

	font-size: 1.4em;
	float: left;
	margin: 5px;
	padding: 3px;
}

.chosen-chords {
	color: white;
	border: 1px solid black;
	text-align: center;
	font-family: 'Trebuchet MS', Helvetica, sans-serif;
	font-size: 2.8em;
	float: left;
	height: 64px;
	width: 25%;
	padding-top: 7px;
	overflow: hidden;
}

.allowed-notes {
	width: 50px;
}

.chosen-notes {
	color: white;
	text-align: center;
	padding-top: 11px ;
	width: 30px;
	font-size: 1.4em;
	position: absolute;
	height: 39px;
}

.keys {
	@include item(white, black);

	font-size: 2em;
	float: left;
	margin: 7px;
	padding: 5px;
}

.play-button-container {
	@include center;
}

.play-button {
	@include item(black, white);
	font-size: 3em;
	padding: 5px;
	margin: 9px;
}

.play-button-options {
	@include item(black, white);
	font-size: 1.3em;
	padding: 5px;
	margin: 9px;
}

.amaj, .a{
	background: #006600;
}
.amin {
	background: #339933;
}
.bmaj, .b {
	background: #003366;
}
.bmin {
	background: #336699;
}
.cmaj, .c {
	background: #cc0000;
}
.cmin {
	background: #ff5050;
}
.dmaj, .d {
	background: #cc3300;
}
.dmin {
	background: #ff9900;
}
.emaj, .e {
	background: #0033cc;
}
.emin {
	background: #0066ff;
}
.fmaj, .f {
	background: #800000;
}
.fmin {
	background: #993333;
}
.gmaj, .g {
	background: #660066;
}
.gmin {
	background: #9900cc;
}

#authH1 {
	font-family: "Great Vibes", cursive;
	font-size: 3em;
	padding: 2%;
	margin-bottom: 3%;
	white-space: nowrap;
	font-weight: bold;
	color: #000080;
	display: flex;
	justify-content: center;
}

#authH2 {
	font-size: 1.5em;
	font-family: 'Trebuchet MS', Helvetica, sans-serif;
	padding-bottom: 2%;
	display: flex;
	white-space: nowrap;
	justify-content: center;
}

#user {
	padding: 2%;
	display: flex;
	justify-content: center;
}

#pass {
	padding: 2%;
	display: flex;
	justify-content: center;
}

#submit {
	display: inline-flex;
	justify-content: center;
	margin-left: 40%;
	text-align: center;
	margin-top: 5%;
	border-top: 1px solid #acf797;
   background: #85d665;
   background: -webkit-gradient(linear, left top, left bottom, from(#3e9c4c), to(#85d665));
   background: -webkit-linear-gradient(top, #3e9c4c, #85d665);
   background: -moz-linear-gradient(top, #3e9c4c, #85d665);
   background: -ms-linear-gradient(top, #3e9c4c, #85d665);
   background: -o-linear-gradient(top, #3e9c4c, #85d665);
   padding: 8.5px 17px;
   -webkit-border-radius: 19px;
   -moz-border-radius: 19px;
   border-radius: 19px;
   -webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
   -moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
   box-shadow: rgba(0,0,0,1) 0 1px 0;
   text-shadow: rgba(0,0,0,.4) 0 1px 0;
   color: #172852;
   font-size: 22px;
   font-family: 'Lucida Grande', Helvetica, Arial, Sans-Serif;
   text-decoration: none;
   vertical-align: middle;
   }
#submit:hover {
   border-top-color: #28782d;
   background: #28782d;
   color: #ccc;
   cursor: pointer;
   }
#submit:active {
   border-top-color: #051621;
   background: #051621;
}

#swap {
	margin-top: 5%;
	margin-bottom: 5%;
	margin-left: 28%;
   border-top: 1px solid #f59898;
   background: #d4658e;
   background: -webkit-gradient(linear, left top, left bottom, from(#9c3e40), to(#d4658e));
   background: -webkit-linear-gradient(top, #9c3e40, #d4658e);
   background: -moz-linear-gradient(top, #9c3e40, #d4658e);
   background: -ms-linear-gradient(top, #9c3e40, #d4658e);
   background: -o-linear-gradient(top, #9c3e40, #d4658e);
   padding: 8.5px 17px;
   -webkit-border-radius: 19px;
   -moz-border-radius: 19px;
   border-radius: 19px;
   -webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
   -moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
   box-shadow: rgba(0,0,0,1) 0 1px 0;
   text-shadow: rgba(0,0,0,.4) 0 1px 0;
   color: #172852;
   font-size: 22px;
   font-family: 'Lucida Grande', Helvetica, Arial, Sans-Serif;
   text-decoration: none;
   vertical-align: middle;
   }
#swap:hover {
   border-top-color: #d91f47;
   background: #d91f47;
   color: #ccc;
   cursor: pointer;
   }
#swap:active {
   border-top-color: #051621;
   background: #051621;
   }


#authSection {
	display: flex;
	justify-content: center;
	width: 38%;
	background-color: #D0D0D0;
	margin: auto;
	margin-top: 12%;
	display: block;
	border-style: solid;
	border-width: 1px;
	border-color: grey;
}

