<!DOCTYPE html>
<html>
	<head>
	</head>
	<body ng-cloak data-ng-app="songwriter">
		<main data-ng-controller="songwriterController">

			<div> Allowed Keys: </div>
			<div id="allowed-keys-container" data-ng-init="initializeKeys()">
				<div class="keys" data-ng-repeat="key in allowedKeys">{{key.name}}</div>
			</div>

			<div ng-if="!inProgress">
	    	<div> All Chords: </div>
	    	<div id="all-chords-container" data-ng-repeat="chord in chords">
	    		<div class="all-chords" data-ng-click="addChord(chord)">
	    			{{chord.name}}
	    		</div>
	    			<button data ="chord" data-ng-click="playChord(chord)">play {{chord.name}}</button>
					<button data ="chord" data-ng-click="pauseChord(chord)">pause {{chord.name}}</button>

	    	</div>
	    </div>

			<div ng-if="inProgress">

				<div> Allowed Chords: </div>
				<div id="allowed-chords-container" data-ng-repeat="chord in allowedChords">
					<div class="allowed-chords"data-ng-click="addChord(chord)">
						{{chord.name}}
					</div>
					<button data ="chord" data-ng-click="playChord(chord)">play {{chord.name}}</button>
					<button data ="chord" data-ng-click="pauseChord(chord)">pause {{chord.name}}</button>

				</div>

				<div> Allowed Notes: </div>
				<div id="allowed-notes-container">
					<div class="allowed-notes" data-ng-repeat="note in allowedNotes">{{note}}</div>
				</div>


				<div> Chosen Chords: </div>
				<div id="chosen-chords-container" data-ng-click="playAll()"> play all  
					<div class="chosen-chords" data-ng-repeat="chord in chosenChords track by $index" data-ng-click="removeChord(chord)">
						{{chord.name}}
					</div>
				</div>

			</div>

			<div class="reset-button-container" ng-if="inProgress">
				<button class="reset-button" data-ng-click="reset()"> Reset </button>
			</div>

		</main>
		<script src='https://code.jquery.com/jquery-1.9.1.min.js'></script>
		<script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.11.1/jquery-ui.min.js"></script>
		<script src='js/bundle.js'></script>
	</body>
</html>

