<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" type="text/css" href="css/application.css">
	</head>
	<body ng-cloak data-ng-app="songwriter">
		<main data-ng-controller="songwriterController">

			<div> Allowed Keys: </div>
			<div id="allowed-keys-container" data-ng-init="initializeKeys()">
				<div class="keys" data-ng-repeat="key in allowedKeys">{{key.name}}</div>
			</div>

			<div ng-if="!inProgress">
	    	<div> All Chords: </div>
	    	<div id="all-chords-container">
	    		<div class="all-chords" data-ng-repeat="chord in chords" data-ng-click="addChord(chord)">
	    			{{chord.name}}
	    		</div>
	    	</div>
	    </div>

			<div ng-if="inProgress">

				<div> Allowed Chords: </div>
				<div id="allowed-chords-container">
					<div class="allowed-chords" data-ng-repeat="chord in allowedChords" data-ng-click="addChord(chord)">
						{{chord.name}}
					</div>
				</div>

				<div> Allowed Notes: </div>
				<div id="allowed-notes-container">
					<div class="allowed-notes" data-ng-repeat="note in allowedNotes">{{note}}</div>
				</div>


				<div> Chosen Chords: </div>
				<div id="chosen-chords-container">
					<div class="chosen-chords" data-ng-repeat="chord in chosenChords track by $index" data-ng-click="removeChord(chord)">
						{{chord.name}}
					</div>
				</div>

			</div>

			<div class="reset-button-container" ng-if="inProgress">
				<button class="reset-button" data-ng-click="reset()"> Reset </button>
			</div>


			<div ng-controller="MainCtrl" class="container">
  <h1>Modal example</h1>
  <button ng-click="toggleModal()" class="btn btn-default">Open modal</button>

  <modal title="Login form" visible="showModal">
    <form role="form">
      <div class="form-group">
        <label for="email">Email address</label>
        <input type="email" class="form-control" id="email" placeholder="Enter email" />
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input type="password" class="form-control" id="password" placeholder="Password" />
      </div>
      <button type="submit" class="btn btn-default">Submit</button>
    </form>
  </modal>
</div>


		</main>
		<script src='https://code.jquery.com/jquery-1.9.1.min.js'></script>
		<script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.11.1/jquery-ui.min.js"></script>
		<script src='js/bundle.js'></script>
	</body>
</html>

