<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
  <link rel="stylesheet" type="text/css" href="css/application.css">
	<title>Song Wrangling</title>
</head>
<body data-ng-app="SongWriterApp" data-ng-cloak>
  <div data-ng-controller="AuthController" data-ng-init="getUser()">
    <a data-ng-if="currentUser" href data-ng-click="logOut()" id="currUser">Log Out of {{currentUser}}</a>
    <main data-ng-view></main>
  </div>
  <script src='https://code.jquery.com/jquery-1.9.1.min.js'></script>
  <script src="/js/bundle.js"></script>



</div>
</body>

</html>
