<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" type="text/css" href="css/application.css">
	</head>
	<body ng-cloak ng-app="songwriter">
		<main ng-controller="songwriterController">

			<div> Allowed Keys: </div>
			<section id="allowed-keys-container" ng-init="initializeKeys()">
				<div class="keys" ng-repeat="key in allowedKeys">
					{{key.name}}
				</div>
			</section>

			<div ng-if="!inProgress">
	    	<div> All Chords: </div>
	    	<div id="all-chords-container">
	    		<div class="all-chords" ng-repeat="chord in chords" 
	    				 ng-click="playChord(chord)" 
	    				 ng-drag="true" ng-drag-data="chord">
	    			{{chord.name}}
	    		</div>
	    	</div>
	    </div>

			<div ng-if="inProgress">
				<div> Allowed Notes: </div>
				<div id="allowed-notes-container">
					<div class="allowed-notes" ng-repeat="note in allowedNotes" 
							 ng-click="playNote(note)" ng-drag="true" ng-drag-data="note">
						{{note}}
					</div>
				</div>

				<div> Allowed Chords: </div>
				<div id="allowed-chords-container">
					<div class="allowed-chords" ng-repeat="chord in allowedChords" 
							 ng-click="playChord(chord)" 
							 ng-drag="true" ng-drag-data="chord">
						{{chord.name}}
					</div>
				</div>
			</div>

			<div> Chosen Chords: </div>
			<div id="chosen-chords-container" ng-drop="true" ng-drop-success="addChord($data)">
				<div ng-repeat="chord in chosenChords track by $index" 
						 ng-drop="true" ng-drop-success="swapPositions($index, $data)"  
						 ng-drag="true" ng-drag-data="chord" 
						 ng-click="playChord(chord)" ng-dblclick="removeChord(chord)"
						 ng-class="assignClassName(chord.name)" class="chosen-chords">
					{{chord.name}}
				</div>
			</div>

			<div> Chosen Notes: </div>
			<div id="chosen-notes-container">
				<div ng-repeat="note in recordedNotes track by $index" 
						 ng-click="playNote(note)" ng-dblclick="removeNote(note)"
						 class="chosen-notes" ng-class="assignClassName(note.name)"
						 ng-attr-id="{{note.name[0]}}{{note.time}}">
					{{note.name}}	
				</div>
			</div>

			<div class="play-button-container" ng-if="inProgress">
				<button class="play-button" ng-click="playSong()">Play</button>
				<div class="play-button-options">
					<label>loop this many times</label><input id="loopNumber" type="number" min="1" max="4" value="1">
					<button ng-click="togglePreviewing()">toggle chord previewing on click</button>
					<button ng-click="toggleRecording()">record next play</button>

				</div>
			</div>


		</main>
		<script src='https://code.jquery.com/jquery-1.9.1.min.js'></script>
		<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.8/angular.min.js"></script>
		<script src='js/bundle.js'></script>
	</body>
</html>

